body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: #9E4EA8;
    padding: 10px;
}

img {
    margin-right: 40px;
    align-items: center;
    justify-content: center;
}

p {
    display: inherit;
    flex-wrap: wrap;
    margin: 20px;
}

.header {
    background-color: #E5A9B7;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 180px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 180px;
}

.miaw {
    width: 400px;
    height: 200px;
    border-radius: 10px;
    border: 3px solid #5C288D;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}

.button:hover {
    background-color: #5C288D;
}

.kittens {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #BF89B1;
    border-radius: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F7DFC7;
}

.imgs {
    display: flex;
    flex-direction: row;
    margin: 30px 30px;
}

.imgCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    text-align: center;
}

.quote {
    display: flex;
    background-color: #BF89B1;
    flex-direction: column;
    padding: 30px 80px;
}

.author {
    display: flex;
    justify-content: flex-end;
}

.sign-cont {
    padding: 100px 300px;
}

.sign {
    display: flex;
    flex-direction: row;
    background-color: #D53E97;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}

.leftS {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



/*******************/
/*Fonts and Styling*/
/*******************/


.hero {
    font-family: 'Climate Crisis', cursive;
    font-size: 40px;
    font-weight: 400;
    color: #BA218F;
}

.secHero {
    font-family: 'Tilt Warp', cursive;
    font-size: 18px;
    color: #9E4EA8;
}

.thirdHero {
    font-family: 'Tilt Warp', cursive;
    font-size: 24px;
    color: #9E4EA8;
}

.info {
    font-family: 'Tilt Warp', cursive;
    font-size: 36px;
    color: #BF89B1;
    font-weight: 400;
}

.info-2 {
    font-family: 'Tilt Warp', cursive;
    font-size: 15px;
    color: #BF89B1;
    font-weight: 200;
}

.button {
    background-color: #BF89B1;
    color: #F9FAF8;
    font-family: 'Tilt Warp', cursive;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.quoteP {
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
    font-family: light italic, cursive;
    /* flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 30px;
}

.authorTxt {
    color: #1F2937;
    font-size: 25px;
    font-weight: bold;
    font-family: light italic, cursive;
}

.signInf {
    font-family: 'Tilt Warp', cursive;
    font-size: 36px;
    color: #F9FAF8;
    font-weight: 400;
    margin-bottom: -20px;
}

.signInf2 {
    font-family: 'Tilt Warp', cursive;
    font-size: 15px;
    color: #F9FAF8;
    font-weight: 200;
}